Django==5.0.2
channels==4.0.0
channels-redis==4.0.0
celery==5.2.7
django-celery-results
django-celery-beat
djangorestframework==3.14.0
uvicorn[standard]
drf-spectacular[sidecar]
whitenoise
django-webpack-loader
django-cors-headers
django-spaghetti-and-meatballs
django-ipware
django-jazzmin
ipython
django-model-utils
django-appconf
django-multiselectfield @ git+https://github.com/tbscode/django-multiselectfield@master
django-phonenumber-field[phonenumbers]
Babel
Pillow
django-rest-passwordreset
requests
twilio
pytest
psycopg2-binary
django-storages
boto3
martor
networkx
pytablewriter
Collectfast
django-hijack
single-beat
djangorestframework-dataclasses
polib
sentry-sdk[django]
django-revproxy
slack_sdk
openai==1.8.0
pgeocode
django-filter
bs4
livekit-api
google-cloud-translate==3.15.3

